/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Shared style */
* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.btn-primary{
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.25rem;
}
main{
    width: 80%;
    margin: 0 auto;
}
section{
    margin-bottom: 100px;
}

.text-gray{
    color: gray;
}


/* Header Style */
header {
    background-color: antiquewhite;
    padding: 50px 0px 30px 0px;
}

nav, nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: #424242;
}

nav>ul, a {
    display: flex;
    list-style-type: none;
    gap: 15px;
    text-decoration: none;
    font-weight: 500;

}
nav h3{
    font-size: 2.8rem;
}
/* Banner style */
.banner{
    text-align: center;
}
.banner-info{
    width: 50%;
    margin: 0 auto;
    padding: 40px 0 30px 0px;
    color: #424242;
}
.banner-title{
    font-size: 4rem;

}
.banner-description{
    padding: 20px 0px;
}
.banner>img{
    width: 80%;
}
/* Feature team style */

.feature-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 70px 0px 70px;
}
.freature-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
}
.freature-team img{
    width: 100%;
}
.feature-info{
    width: 50%;
}
.feature-description{
    margin: 30px 0px;
}
.feature-title, .feature-description{
    color: gray;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 500;
}
.feature-title-1{
    color: black;
    font-weight: 700;
}
.feature-title-2{
    color: orange;
    font-weight: 700;
}

/* Feature list section */
.feature-list-container{
    display: flex;
}
.feature-list-title{
    font-size: 3.5rem;
    border-left: 5px solid rgb(255, 153, 0);
    padding-left: 15px;
}
.feature-list-info{
    width: 50%;
    padding-top: 2%;
    padding-right: 7%;
}
.list-description{
    padding-top: 25px;

}

.feature-box{
    box-shadow: 0px 0px 5px 2px rgb(197, 197, 197);
    padding: 20px 15px;
    border-radius: 5px;
    margin-top: 20px;
}



.feature-img-container{
    width: 50%;
}
.feature-img-container img{
/* height: 80%;} */
}  

/* fact style */
.fact-title{
    font-size: 3rem;
}
.fact-description{
    padding: 30px 0 100px 0px;
}
.fact-cart{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}
.fact-box{
    border: 1px solid rgb(255, 153, 0);
    border-radius: 5px;
    width: 13%;
    text-align: center;
    padding: 50px 30px;
    font-weight: bold;
}
.fact-box h2{
    padding: 10px 0;
}
/* sponsor section style */
.sponsor{
    text-align: center;
}
.sponsor h1{
    font-size: 3rem;
}
.sponsor-info-container{
    width: 50%;
    margin: 0 auto;
}
.sponsor-description{
 padding: 20px 0px 50px 0px;
}

.sponsor-cart-container{
    display: flex;
    justify-content: space-between;
    filter: grayscale(1);
}





.hide{
    display: none;
}
/* Responsive style */
/* small device */
@media screen and (max-width: 576px) {

    main{
        width: 90%;
    }
    nav {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        color: #424242;
        padding-bottom: 30px;
    }
    nav>h3{
        font-size: 2rem;
    }

    .banner-info{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        color: #424242;
    }
    .banner-title{
        font-size: 2rem;
    
    }
    .banner-description{
        padding: 10px 0px;
    }
    .banner>img{
        width: 90%;
    }
    .banner-info{
        width: 90%
    }
    .feature-section-container{
        flex-direction: column-reverse;
        padding:  25px 10px;
        margin: 0 auto;
    }
    .freature-team{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .feature-info{
        width: 100%;
    }
    .fact-title{
        font-size: 2rem;
    }
    .fact-cart{
        flex-direction: column;
        gap:15px;
        padding: 0 10px;
    }
    .fact-box{
       width: 80%;
    }
    .sponsor{
        text-align: center;
    }
    .sponsor h1{
        font-size: 2rem;
    }
    .sponsor-info-container{
        width: 80%;
        margin: 0 auto;
    }
    .sponsor-description{
     padding: 10px 0px 30px 0px;
    }
    
    .sponsor-cart-container{
        flex-direction: column;
    }
    .sponsor-cart-container img{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    
    
}



/* medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .feature-section-container{
        flex-direction: column-reverse;
        padding:  25px 10px;
        margin: 0 auto;
    }
    .freature-team{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .feature-info{
        width: 100%;
    }
    .fact-title{
        font-size: 2rem;
    }
    .fact-cart{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:15px;
        padding: 0 10px;
    }
    .fact-box{
       width: 80%;
    }
    .sponsor-cart-container{
        flex-direction: column;
    }
    .sponsor-cart-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:15px;
        padding: 15px;
    }
    .sponsor-cart-container img{
        display: block;
        margin: 0 auto;
    }
}